{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block title %} <title>Online Course | Register</title>{% endblock %}
{% block  content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:50%; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><a href="{% url 'home' %}"><i class="fas fa-home" aria-hidden="true"></i></a><h1 class="card-title text-center">Register</h1></header>
		<form action="{% url 'signup' %}" method='POST' novalidate>
			{% csrf_token %}
				
                  {% comment %} ####2-col-form-layout############ {% endcomment %}
				  <div class="form-row">
					<div class="col form-group">
						
						{% comment %} #############showing field manually incase want 2 col layout without using crispy############ {% endcomment %}
					  	{{form.first_name | as_crispy_field }}
						  
					</div> <!-- form-group end.// -->
					<div class="col form-group">
						
					  	{{form.last_name | as_crispy_field }}
						  
						  
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->

				<div class="form-row">
					<div class="col form-group">						
					  	{{form.username | as_crispy_field}}				
					</div> <!-- form-group end.// -->
					<div class="col form-group">						
					  	{{form.email | as_crispy_field}}					
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->

				<div class="form-row">
					<div class="form-group col-md-6">
						
					    {{form.password1 | as_crispy_field }}
						
					</div> <!-- form-group end.// --> 
					<div class="form-group col-md-6">
						
					    {{form.password2 | as_crispy_field}}

					</div> <!-- form-group end.// -->  
				</div><!-- form-row end.// -->
				  
			    <div class="form-group">
			        <input type="submit" value="Register" class="btn btn-primary btn-block">
			    </div> <!-- form-group// -->      
			        
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Already!Have An Account? <a href="{% url 'login' %}" class="text-primary">Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}