{% load static %}

<div class="main-header ">
<div class="header-bottom  header-sticky">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-2 col-lg-2">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo/logo.png' %}" alt="logo"></a>
                </div>
            </div>
            <div class="col-xl-10 col-lg-10">
                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">                                                                                          
                                <li class="active" ><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'courses' %}">Courses</a></li>
                                <li><a href="#">Subjects</a></li>
                                <li><a href="#">Blog</a>
                                    <ul class="submenu">
                                        
                                        <li><a href="#">Element</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                                
                                <a href="#">
                                {% if user.is_authenticated %}
                                <li>
                                 Accounts <i class="fas fa-caret-down"></i>
                                    {% comment %} {% if user.userprofile.profile_picture %}
                                    <img src="{{user.userprofile.profile_picture.url}}" class="rounded-circle img-thumbnail" alt="profile_pic" style="width:40px;height:40px;">              
                                    {% else %}
                                    <img src="{% static 'img/default.jpg' %}" class="rounded-circle img-thumbnail" alt="profile_pic" style="width:40px;height:40px;">
                                    {% endif %} {% endcomment %}

                                </a>
                                    <ul class="submenu">
                                        
                                        <li><a href="{% url 'UpdateProfile' %}">Edit Profile</a></li>
                                        <li><a href="{% url 'changeuserpassword' %}">Change Password</a></li>
                                        <li><a href="{% url 'user_logout' %}">Logout<a></li>
                                    </ul>
                                </li>
                                <li class="button-header"><a href="{% url 'user_logout' %}" id="logout-btn" class="btn extra-pad">Logout</a></li>
                                {% else %}
                                    <!-- Button -->
                                <li class="button-header margin-left "><a href="{% url 'signup' %}" class="btn extra-pad">Join Now!</a></li>
                                <li class="button-header"><a href="{% url 'login' %}" class="btn btn3 extra-pad">Log in</a></li>
                                {% endif %}
                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </div> 
            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
            </div>
        </div>
    </div>
</div>
</div>
