{% extends 'accounts/base.html' %}

{% block title %} <title>Online Course | Payment Status</title>{% endblock %}
{% block  content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:80%; margin-top:40px;">
      <article class="card-body">
      
			<h1><i class="fas fa-check-circle text-success"></i>Payment Success.You Are Allowed To The Course</h1>
	 </article><!-- card-body.// -->
    </div> <!-- card .// -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}